<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- Title Tags change name in browser tab-->
    <title>Gotta Catch'em All!</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
    
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>
  <body>
    
    <div class="container-fluid">
        <!-- Used embedded Ruby to output info from API -->
      <h1><%=@user_pokemon.print_name %></h1> 
      <img src="<%= @user_pokemon.form %>" height="360" width="360">
      <img src="<%=@user_pokemon.shiny_form %>" height="360" width="360">
      
      <!-- #Print out more information about the pokemon -->
      
      <h3>Type</h3> 
      <h3 style="text-transform: uppercase"><%=@user_pokemon.typing %></h3>
      
      <h3>Height in Decimeters: <%=@user_pokemon.height %> dm</h3>
      
      
      <h3>Weight in kilograms: <%=@user_pokemon.weight%> kg</h3>
      
    

      

    <!--  <a href="index.erb" method="get" action="/">Back!</a>    -->
      <a href="/" style="font-size:34px">Want to search another one?</a>
    </div>
    
  </body>
</html>